ion-label {

    h1 {
        font-weight: bold;
        font-size: 1.0rem;
    }

    p {
        font-size: 1.0rem;
    }

}

ion-card {

    h1 {
        font-weight: bold;
        font-size: 1.0rem;
    }

    p {
        font-size: 1.0rem;
    }

}