ion-label {

    h1 {
        font-weight: bold;
        font-size: 1.0rem;
    }

    p {
        font-size: 1.0rem;
    }

}

ion-item {

    --padding-start: 10px;
    --inner-padding-end: 10px;

}